.add-log-container{

    .form-group{
        display:block;
        padding-bottom:20px;

        .form-label{
            display:block;
        }

        .form-input{
            width:100%;
        }
    }
}